.finalscore {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(45deg,rgba(20, 30, 48, .9),rgba(36, 59, 85, .9));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0);
    transition: all 0.28s ease;
}

.finalscore__showed {
    transform: scale(1);
}

.finalscore-title,
.finalscore-score {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.finalscore-score {
    font-size: 48px;
    margin-bottom: 40px;
}

.finalscore-button {
    cursor: pointer;
    width: 100%;
    height: 55px;
    max-width: 280px;
    background: #243B55;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    transition: all 0.28s ease;
}

.finalscore-button:hover {
    background: #21364d;
}