.app {
  width: 100%;
  height: 100vh;
  padding: 20px;
  /* background-color: #151515; */
  background-color: #151515;
}

.app-inner {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}